#*
#*#
#*#
*.aux
*.bak
*.bbl
*.blg
*.log
*.out
*.pdf
*.pyc
*.spl
*~
*~
.#*
TESTVECTORS.txt
TEST_EMAIL_ADDRESSES.txt
__pycache__
doc/rfc.bak
email/periodic_cron.py
get_altnames
tlsa/getdns-python-bindings/
tlsa/openssl*.tar.gz
tlsa/openssl*/
